body {
    background: url("./../images/light-funky-lines.png");
    border: 0;
}

.header {
    top: 0;
    height: 2em;
}

.navbar button {
    border: 0;
    padding: 0;
    font-size: 1em;
}

.jumbotron {
    background: linear-gradient(-90deg, rgba(235, 11, 11, 0.9) 0%, #eb0b0b 50%, #ffffff 50%, #e8f1f2 100%);
    background-size: cover;
    background-position: center;
    /* background-image: -moz-radial-gradient(10% 10%, circle closest-side, #000000 0%, #0c0c0c 100%);
    background-image: -webkit-radial-gradient(10% 10%, circle closest-side, #000000 0%, #0c0c0c 100%);
    background-image: -ms-radial-gradient(10% 10%, circle closest-side, #000000 0%, #0c0c0c 100%);   */
}

.jumbotron .content {
    top: 40%;
}

.jumbotron .content h1 {
    margin-top: 10%;
}

.jumbotron .banner-logo {
    margin-top: 30%;
    margin-left: 30%;
}

.jumbotron .banner-logo img {
    max-width: 80%;
}

.jumbotron .banner-text {
    margin-top: 30%;
    margin-left: 5%;
    text-align: left;
}

.banner-text h2 {
    padding-top: 1em;
    font-weight: 900;
    font-size: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
}

.banner-text h2 span {
    font-size: 1.3em;
}

.banner-text p {
    color: #ffffff;
}

.excel-link, .yka-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #0000004a;
}

.excel-link:hover, .excel-link:active {
    color: #1FB888;
    text-shadow: 2px 2px 8px #3C7986;
}

.yka-link:hover, .yka-link:active {
    color: #F6F6F6;
    text-shadow: 1px 1px 3px #181818, 2px 2px 8px rgb(133, 0, 0);
}

/* timeline */

#timeline-section p {
    font-weight: 300;
    color: white;
}

#timeline-section h3 {
    font-size: 0.8em;
    color: white
}

#timeline-section {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background: #424242;
    color: white
}

.timeline {
    border-left: 4px solid #00c853;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}

.timeline .event {
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    content: attr(data-date);
    text-align: right;
    font-weight: 600;
    font-size: 0.9em;
    min-width: 130px;
    color: white
}

.timeline .event:after {
    box-shadow: 0 0 0 4px #00c853;
    left: -57.85px;
    background: #ffffff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

/* Medium devices (desktops, 992px and up) */

@media (max-width: 768px) {
    .jumbotron {
        background: none;
    }
    .jumbotron .banner-logo {
        margin-top: 10%;
        margin-left: 0;
    }
    .banner-logo img {
        width: 40%;
    }
    .jumbotron .banner-text {
        margin-top: 5%;
        margin-left: 0;
        text-align: center;
    }
    .banner-text h2 {
        color: #383d3b;
    }
    .banner-text p, .excel-link, .yka-link {
        color: #383d3b;
    }
    .excel-link:hover, .excel-link:active {
        color: #1FB888;
        text-shadow: 2px 2px 1px #3C7986;
    }
    .yka-link:hover, .yka-link:active {
        color: #F6F6F6;
        text-shadow: 1px 1px 1px #181818, 2px 2px 2px rgb(133, 0, 0);
    }
}

section .title {
    text-align: center;
    margin-bottom: 40px;
}

section .title h2 {
    color: #383d3b;
    font-size: 2em;
}

.event-grid {
    text-align: center;
    padding: 30px 15px;
    margin: 0 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(255, 255, 255, 0.1) 100%);
    color: #ffffff;
}

.haiku {
    background: rgba(9, 188, 9, 0.7)
}

.mystery {
    background: rgba(0, 0, 0, 0.7)
}

.blogging {
    background: rgba(235, 112, 11, 0.7);
}

.selection {
    background: rgba(7, 141, 141, 0.7);
}

.vlogging {
    background: rgba(235, 11, 11, 0.7);
}

.voting {
    background: rgba(9, 188, 9, 0.7);
}

.event-grid .glyph-wrapper {
    border-bottom: 1px solid #ffffff1e;
}

.event-grid span {
    font-size: 1.5em;
    padding: 1em;
    margin: 0.5em;
    color: #383d3b;
    background: #FFF6;
    border-radius: 50% 50%;
    border: 1px solid #ffffffcc;
}

.event-grid h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin: 15px 0;
}

.event-grid h3 small {
    font-weight: 300;
    font-size: 0.7em;
    color: #ffffffcc;
}

.event-grid p {
    font-weight: 400;
}

#prizes-section {
    padding-top: 40px;
}

.prizes .col-md-6 {
    padding: 0;
}

.prizes span {
    color: white;
    top: -1em;
    position: relative;
}

.win-list li {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1em;
    font-weight: 400;
    display: block;
    text-align: left;
    margin-left: 20px;
}

.win-list li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.topics-list {
    text-align: left;
}

.topics-list-haiku li {
    text-align: left;
    margin-left: 20px;
}

.topics-list li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-left: 90px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.topics-list-haiku li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 768px) {
    .blogger-haiku li {
        line-height: 2em;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .win-list li {
        font-weight: 500;
    }
}

.prize-grid-container {
    height: 100%;
}

.blogger-haiku {
    background: rgba(9, 188, 9, 0.6);
    padding: 20px 10%;
    padding-bottom: 60px;
}

.blogger-haiku .ribbon {
    background: #09bc09;
}

.blogger-haiku .ribbon:before, .blogger-haiku .ribbon:after {
    border-color: #019401;
}

.blogger-haiku .ribbon .ribbon-content:before, .blogger-haiku .ribbon .ribbon-content:after {
    border-color: #007400 transparent transparent transparent;
}

.blogger {
    background: rgba(235, 112, 11, 0.6);
    padding: 20px 10%;
    padding-bottom: 40px;
    min-height: 50%;
}

.blogger .ribbon {
    background: #eb700b;
}

.blogger .ribbon:before, .blogger .ribbon:after {
    border-color: #b95502;
}

.blogger .ribbon .ribbon-content:before, .blogger .ribbon .ribbon-content:after {
    border-color: #904100 transparent transparent transparent;
}

/* Must happen after all coloring for ribbon*/

.prize-grid-container .ribbon:before {
    border-left-color: transparent;
}

.prize-grid-container .ribbon:after {
    border-right-color: transparent;
}

#rules-section {
    padding: 20px 0;
}

.rules {
    background: rgba(7, 141, 141, 0.6);
    padding: 70px 10%;
}

.rules .title h2 {
    color: #292f2c;
}

.rules .title span {
    color: #ffffff;
}

.rules-list {
    text-align: left;
    margin: 0 auto;
}

.rules-list li {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 1.1em;
    line-height: 2em;
}

.rules-list h4 {
    margin-top: 1.5em;
}

.rules-list li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-left: -17px;
    color: rgba(255, 255, 255, 0.6);
}

.rules .btn {
    white-space: normal;
}

.rules a {
    margin-top: 5%;
}

.rules-link {
    text-align: center;
}

.rules-link a {
    margin-top: 8%;
    margin-bottom: 2%;
}

.sponsors-container {
    margin: 40px 0px;
}

.sponsors-container img {
    margin: auto 0;
    padding: 2%;
    max-width: 100%;
}

#contacts-section {
    padding-top: 20px;
    background: linear-gradient(180deg, #ffffff98 50%, #e8f1f2 100%);
}

.contacts h4 {
    line-height: 1.5em;
}

.contacts .insta-handle {
    margin: 30px auto;
    display: block;
}

.insta-handle img {
    width: 100%;
}

.banner-logo img.spoton-logo {
    display: none;
}

@media (max-width:760px) {
    .banner-logo img.spoton-logo-inv {
        display: none;
    }
    .banner-logo img.spoton-logo {
        display: unset;
    }
}